body {
  background-color: peachpuff;
  color: indianred;
  font-family: bahnschrift light, sans-serif;
  font-weight: bold;
}

#wrapper{
  width: 1020px;
  margin: 0 auto;
  background-color: papayawhip;
}

#header{
  height: 100px;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 1px;
  padding-right: 160px;
  font-size: 60px;
  font-family: forte;
  background-color: indianred;
  color: papayawhip;
}

#header2{
  height: 60px;
  background-color: indianred;
  color: peachpuff;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}

#header3{
  height: 50px;
  padding-top: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: firebrick;
}

#content{
  width: 1000px;
  height: 2300px;
  padding-left: 10px;
  text-align: center;
}

#footer{
  height: 160px;
  clear: both;
  background-color: indianred;
  color: firebrick;
}

#footerheading{
  color: firebrick;
  font-size: 25px;
  padding-top: 25px;
  text-align: center;
  text-decoration: underline;
}

#footerhead{
  padding-left: 140px;
  text-transform: uppercase;
  font-size: 18px;
}

#footeranchor{
  text-transform: uppercase;
  text-align: right;
  padding-left: 500px;
  font-size: 18px;
}

#footeranchor2{
  text-transform: uppercase;
  text-align: right;
  padding-left: 735px;
  font-size: 18px;
}

img.one{
  max-width: 25%;
  max-height: 25%;
}

img.two{
  max-width: 3%;
  max-height: 3%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h3{
  color: firebrick;
}

.caption{
  color: darksalmon;
  font-size: 16px;
}

img.four{
  max-width: 13%;
  max-height: 13%;
  float: left;
  padding-left: 60px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: darksalmon;
  color: firebrick;
}

.previous {
  background-color: indianred;
  color: firebrick;
}

.next {
  background-color: darksalmon;
  color: firebrick;
}
