body {
  background-color: green;
  font: sans-serif;
  font-weight: bold;
}

#wrapper {
  width: 750px;
   background-color: red;
   margin:0 auto;
}

#header {
    height: 40px;
    text-align: center;
    padding-bottom: 40px;
}

#LeftSide{
    float: left;
    background-color: pink;
    height: 100px;
    width: 250px;
    clear: both;
}

#RightSide{
    float: right;
    background-color: orange;
    height: 100px;
    width: 500px;
}

#body{
  background-color: blue;
  height: 600px;
}

#footer{
    background-color: yellow;
    height: 50px;
}
